{% extends 'base_template.html' %}
{% load staticfiles %}

{% block breadcrumb %}
    <li class="active">
        <a href="#">Agregar Brigadista</a>
    </li>
{% endblock %}

{% block page-header %}
    Agregar Brigadista
{% endblock %}

{% block content %}
<form class="form-horizontal" name="form-nuevo-brigadista" role="form">
    {% csrf_token %}
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Region </label>

        <div class="col-sm-3">
            <div>
                <select class="chosen-select form-control" id="region" name="region" data-placeholder="Choose a State...">
                    <option value="">  </option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Municipio </label>

        <div class="col-sm-3">
            <div>
                <select class="chosen-select form-control" id="municipio" name="municipio"  data-placeholder="Choose a State...">
                    <option value="">  </option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Centro de Salud </label>

        <div class="col-sm-3">
            <div>
                <select class="chosen-select form-control" id="centro_salud" name="centro_salud" data-placeholder="Choose a State...">
                    <option value="">  </option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Sector </label>

        <div class="col-sm-3">
            <div>
                <select class="chosen-select form-control" id="sector" name="sector" data-placeholder="Choose a State...">
                    <option value="">  </option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Comunidad </label>

        <div class="col-sm-3">
            <div>
                <select class="chosen-select form-control" id="comunidad" name="comunidad" data-placeholder="Choose a State...">
                    <option value="">  </option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nombres </label>

        <div class="col-sm-9">
            <input type="text" name="nombres" id="nombres" placeholder="Nombres" class="col-xs-10 col-sm-5" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Apellidos </label>

        <div class="col-sm-9">
            <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos" class="col-xs-10 col-sm-5" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> N° de Cedula </label>

        <div class="col-sm-9">
            <input type="text" name="cedula" id="cedula" placeholder="Cedula" class="col-xs-10 col-sm-5" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="">Sexo</label>
        <div class="col-sm-3">
            <input type="text" id="sexo" name="sexo" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="">Fecha de Nacimiento</label>
        <div class="col-sm-3">
            <input type="text" id="fecha_nacimiento" name="fecha_nacimiento"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="">Etnia</label>
        <div class="col-sm-3">
            <input type="text" id="etnia" name="etnia"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="">Escolaridad</label>
        <div class="col-sm-3">
            <input type="text" id="escolaridad" name="escolaridad"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="">Ocupación</label>
        <div class="col-sm-3">
            <input type="text" id="ocupacion" name="ocupacion"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="">Función en el sistema de salud</label>
        <div class="col-sm-3">
            <input type="text" id="funcion_sistema_salud" name="funcion_sistema_salud"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="">Años de servicio al sistema de salud</label>
        <div class="col-sm-3">
            <input type="text" id="anios_sistema_salud" name="anios_sistema_salud"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="">N° Celular personal</label>
        <div class="col-sm-3">
            <input type="text" id="celular_personal" name="celular_personal"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="">N° Celular Asignado</label>
        <div class="col-sm-3">
            <input type="text" id="celular_asignado" name="celular_asignado"/>
        </div>
    </div>


    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit" id="btn-nuevo-brigadista">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Guardar
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Limpiar
            </button>
        </div>
    </div>


</form>
{% endblock %}

{% block script %}

<script src="{% static 'js/crear_brigadista.js' %}"></script>
{% endblock %}