{% extends 'base_template.html' %}
{% load staticfiles %}

{% block breadcrumb %}
    <li class="active">
        <a href="#">Agregar Embarazada</a>
    </li>
{% endblock %}

{% block page-header %}
    Agregar Mujer Embarazada
{% endblock %}

{% block content %}
<form class="form-horizontal" name="form-nueva-embarazada" role="form">
    {% csrf_token %}
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Region </label>

        <div class="col-sm-3">
            <div>
                <select class="chosen-select form-control" id="region" name="region" data-placeholder="Choose a State...">
                    <option value="">  </option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Municipio </label>

        <div class="col-sm-3">
            <div>
                <select class="chosen-select form-control" id="municipio" name="municipio"  data-placeholder="Choose a State...">
                    <option value="">  </option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Centro de Salud </label>

        <div class="col-sm-3">
            <div>
                <select class="chosen-select form-control" id="centro_salud" name="centro_salud" data-placeholder="Choose a State...">
                    <option value="">  </option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Comunidad </label>

        <div class="col-sm-3">
            <div>
                <select class="chosen-select form-control" id="comunidad" name="comunidad" data-placeholder="Choose a State...">
                    <option value="">  </option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nombres </label>

        <div class="col-sm-9">
            <input type="text" name="nombres" id="nombres" placeholder="Nombres" class="col-xs-10 col-sm-5" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Apellidos </label>

        <div class="col-sm-9">
            <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos" class="col-xs-10 col-sm-5" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> N° de Cedula </label>

        <div class="col-sm-9">
            <input type="text" name="cedula" id="cedula" placeholder="Cedula" class="col-xs-10 col-sm-5" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="">Semana de Embarazo</label>
        <div class="col-sm-3">
            <input type="text" id="semana_embarazo" name="semana_embarazo" id="spinner1" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="">Edad</label>
        <div class="col-sm-3">
            <input type="text" id="edad" name="edad"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="">Etnia</label>
        <div class="col-sm-3">
            <input type="text" id="etnia" name="etnia"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Escolaridad </label>

        <div class="col-sm-3">
            <div>
                <select class="chosen-select form-control" id="comunidad" name="comunidad" data-placeholder="Choose a State...">
                    <option value="">  </option>
                    <option value="AL">Primaria</option>
                    <option value="AK">Secundaria</option>
                    <option value="AZ">Tecnico</option>
                    <option value="AZ">Universidad</option>
                    <option value="AZ">Otro</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Discapacidad </label>

        <div class="col-sm-3">
            <div>
                <select class="chosen-select form-control" id="comunidad" name="comunidad" data-placeholder="Choose a State...">
                    <option value="">  </option>
                    <option value="AL">Fisica</option>
                    <option value="AK">Mental</option>
                    <option value="AZ">Motora</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="">Numero de Embarazos</label>
        <div class="col-sm-3">
            <input type="text" id="numero_de_embarazos" name="numero_de_embarazos"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="">Celular</label>
        <div class="col-sm-3">
            <input type="text" id="celular" name="celular"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Empresa Telefonica </label>

        <div class="col-sm-3">
            <div>
                <select class="chosen-select form-control" id="comunidad" name="comunidad" data-placeholder="Choose a State...">
                    <option value="">  </option>
                    <option value="AL">Claro</option>
                    <option value="AK">Movistar</option>
                    <option value="AZ">Cootel</option>
                </select>
            </div>
        </div>
    </div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit" id="btn-nueva-embarazada">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Guardar
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Limpiar
            </button>
        </div>
    </div>


</form>
{% endblock %}

{% block script %}

<script src="{% static 'js/crear_embarazada.js' %}"></script>
{% endblock %}