{% extends 'base_template.html' %}
{% load staticfiles %}

{% block breadcrumb %}
    <li class="active">
        <a href="#">Filtrar Embarazadas</a>
    </li>
{% endblock %}

{% block page-header %}
    Filtrar Embarazadas
{% endblock %}

{% block content %}
    <form class="form-horizontal" action="{% url 'filtrarEmbarazadaView' %}" method="post" enctype="multipart/form-data" id="form-filtrar-embarazada" role="form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">
                <div class="">
                    <label class="control-label no-padding-right" for="form-field-1"> Region </label>
            
                    <div class="">
                        <div>
                            <select class="chosen-select form-control" id="region" name="region" data-placeholder="Choose a State...">
                                <option value="">  </option>
                                {% for region in regiones %}
                                    <option value="{{ region.id }}">{{ region.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <label class="control-label no-padding-right" for="form-field-1"> Municipio </label>
            
                    <div class="">
                        <div>
                            <select class="chosen-select form-control" id="municipio" name="municipio"  data-placeholder="Choose a State...">
                                <option value="">  </option>
                                {% for municipio in municipios %}
                                    <option value="{{ municipio.id }}">{{ municipio.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <label class="control-label no-padding-right" for="form-field-1"> Centro de Salud </label>
            
                    <div class="">
                        <div>
                            <select class="chosen-select form-control" id="centro_salud" name="centro_salud" data-placeholder="Choose a State...">
                                <option value="">  </option>
                                {% for centro_salud in centros_de_salud %}
                                    <option value="{{ centro_salud.id }}">{{ centro_salud.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <label class="control-label no-padding-right" for="form-field-1"> Comunidad </label>
            
                    <div class="">
                        <div>
                            <select class="chosen-select form-control" id="comunidad" name="comunidad" data-placeholder="Choose a State...">
                                <option value="">  </option>
                                {% for comunidad in comunidades %}
                                    <option value="{{ comunidad.id }}">{{ comunidad.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="">
                    <label class="control-label no-padding-right" for="form-field-1"> Nombres </label>
            
                    <div class="">
                        <input type="text" name="nombres" id="nombres" placeholder="Nombres" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <label class="control-label no-padding-right" for="form-field-1"> Apellidos </label>
            
                    <div class="">
                        <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <label class="control-label no-padding-right" for="form-field-1"> N° de Cedula </label>
            
                    <div class="">
                        <input type="text" name="cedula" id="cedula" placeholder="Cedula" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <label class="control-label no-padding-right" for="form-field-1"> Etnia </label>
                    <div class="">
                        <div>
                            <select class="chosen-select form-control" id="etnia" name="etnia">
                                <option value="">  </option>
                                <option value="creole">Creole</option>
                                <option value="misquito">Misquito</option>
                                <option value="garifona">Garifona</option>
                                <option value="rama">Rama</option>
                                <option value="ulma">Ulwa</option>
                                <option value="mestizo">Mestizo</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <label class="control-label no-padding-right" for="">Semana de Embarazo</label>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" id="semana_embarazo_desde" name="semana_embarazo_desde" placeholder="Desde" id="spinner1" class="form-control"/>    
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="semana_embarazo_hasta" name="semana_embarazo_hasta" placeholder="Hasta" id="spinner1" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="">
                    <label class="control-label no-padding-right" for="">Edad</label>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" id="edad_desde" name="edad_desde" placeholder="Desde" class="form-control"/>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="edad_hasta" name="edad_hasta" placeholder="Hasta" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="">
                    <label class="control-label no-padding-right" for="form-field-1"> Discapacidad </label>
                    <div class="">
                        <div>
                            <select class="chosen-select form-control" id="discapacidad" name="discapacidad">
                                <option value="ninguna">Ninguna</option>
                                <option value="fisica">Fisica</option>
                                <option value="motora">Motora</option>
                                <option value="mental">Mental</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <label class="control-label no-padding-right" for="form-field-1"> Escolaridad </label>
                    <div class="">
                        <div>
                            <select class="chosen-select form-control" id="escolaridad" name="escolaridad">
                                <option value="">  </option>
                                <option value="primaria">Primaria</option>
                                <option value="secundaria">Secundaria</option>
                                <option value="tecnico">Tecnico</option>
                                <option value="universidad">Universidad</option>
                                <option value="otro">Otro</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <label class="control-label no-padding-right" for="form-field-1"> N° de Embarazos </label>
            
                    <div class="">
                        <input type="text" name="numero_de_embarazos" id="numero_de_embarazos" placeholder="N° de Embarazos" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <label class="control-label no-padding-right" for="form-field-1"> Puestos de Salud </label>
            
                    <div class="">
                        <div>
                            <select class="chosen-select form-control" id="puestos_de_salud" name="puestos_de_salud">
                                <option value="">  </option>
                                {% for puesto in puestos_de_salud %}
                                    <option value="{{ puesto.id }}">{{ puesto.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit" id="btn-nueva-embarazada">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Filtrar
                </button>
                
                &nbsp; &nbsp; &nbsp;
                <button class="btn btn-success" type="button" id="btn_exportar_embarazadas">
                    <i class="ace-icon fa fa-download bigger-110"></i>
                    Exportar a Excel
                </button>
    
                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    Limpiar
                </button>
            </div>
        </div>
    
    </form>
    
    {% if lista_de_embarazadas %}
        <div class="row">
            <div class="col-md-12">
                <table id="simple_table" class="table table-bordered table-hover">
                    <thead>
                        <th>Detalles</th>
                        <th class="detail-col">Nombres</th>
                        <th>Apellidos</th>
                        <th>Edad</th>
                        <th class="hidden-480">Region</th>
                    </thead>
                    <tbody>
                        {% for embarazada in lista_de_embarazadas %}
                            <tr class="main-row">
                                <td class="center">
                                    <div class="action-buttons">
                                        <a href="#" class="green bigger-140 show-details-btn" title="Show Details">
                                            <i class="ace-icon fa fa-angle-double-down"></i>
                                            <span class="sr-only">Details</span>
                                        </a>
                                    </div>
                                </td>
                                <td>{{ embarazada.name }}</td>           
                                <td>{{ embarazada.fields.apellido|safe }}</td>
                                <td>{{ embarazada.fields.edad|safe }}</td>
                                <td>{{ embarazada.fields.region|safe }}</td>
                            </tr>
                            <tr class="detail-row">
                                <td colspan="8">
                                    <div class="table-detail">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-2">
                                                <div class="text-center">
                                                    <img height="150" class="thumbnail inline no-margin-bottom" alt="Domain Owner's Avatar" src="{% static 'assets/images/avatars/profile-pic.jpg' %}" />
                                                    <br />
                                                    <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                                        <div class="inline position-relative">
                                                            <a class="user-title-label" href="#">
                                                                <i class="ace-icon fa fa-circle light-green"></i>
                                                                &nbsp;
                                                                <span class="white">{{ embarazada.name }}</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="col-xs-12 col-sm-7">
                                                <div class="space visible-xs"></div>
                                                {% csrf_token %}
                                                <div class="profile-user-info profile-user-info-striped">
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Nombres </div>
            
                                                        <div class="profile-info-value">
                                                            <span class="nombres" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.nombre|safe }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Apellido </div>
            
                                                        <div class="profile-info-value">
                                                            <span class="apellidos" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.apellido|safe }}</span>
                                                        </div>
                                                    </div>
            
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Region </div>
            
                                                        <div class="profile-info-value">
                                                            <i class="fa fa-map-marker light-orange bigger-110"></i>
                                                            <span class="region" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.region|safe }}</span>
                                                        </div>
                                                    </div>
            
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Edad </div>
            
                                                        <div class="profile-info-value">
                                                            <span class="edad" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.edad|safe }}</span>
                                                        </div>
                                                    </div>
            
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Comunidad </div>
            
                                                        <div class="profile-info-value">
                                                            <span class="comunidad" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.comunidad|safe }}</span>
                                                        </div>
                                                    </div>
            
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Centro de Salud </div>
            
                                                        <div class="profile-info-value">
                                                            <span class="centro_salud" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.centro_de_salud|safe }}</span>
                                                        </div>
                                                    </div>
            
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> N° de Cedula </div>
            
                                                        <div class="profile-info-value">
                                                            <span class="cedula" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.cedula|safe }}</span>
                                                        </div>
                                                    </div>
            
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Semana de Embarazo </div>
            
                                                        <div class="profile-info-value">
                                                            <span class="semana_embarazo" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.semana_de_embarazo|safe }}</span>
                                                        </div>
                                                    </div>
            
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Etnia </div>
            
                                                        <div class="profile-info-value">
                                                            <span class="etnia" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.etnia|safe }}</span>
                                                        </div>
                                                    </div>
            
                                                    
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </td>
                    
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block script %}

<script src="{% static 'js/filtrar_embarazada.js' %}"></script>
{% endblock %}