{% extends 'base_template.html' %}
{% load staticfiles %}

{% block breadcrumb %}
    <li class="active">
        <a href="#">Modificar Embarazada</a>
    </li>
{% endblock %}

{% block page-header %}
    Lista de Embarazadas
{% endblock %}

{% block content %}
    <script>
        var comunidades = {{ comunidades|safe }}
    </script>
    <table id="simple_table" class="table table-bordered table-hover">
        <thead>
            <th>Detalles</th>
            <th class="detail-col">Nombres</th>
            <th>Apellidos</th>
            <th>Edad</th>
            <th class="hidden-480">Region</th>
        </thead>
        <tbody>
            {% for embarazada in lista_de_embarazadas %}
                <tr class="main-row">
                    <td class="center">
                        <div class="action-buttons">
                            <a href="#" class="green bigger-140 show-details-btn" title="Show Details">
                                <i class="ace-icon fa fa-angle-double-down"></i>
                                <span class="sr-only">Details</span>
                            </a>
                        </div>
                    </td>
                    <td>{{ embarazada.name }}</td>           
                    <td>{{ embarazada.fields.apellido|safe }}</td>
                    <td>{{ embarazada.fields.edad|safe }}</td>
                    <td>{{ embarazada.fields.region|safe }}</td>
                </tr>
                <tr class="detail-row">
                    <td colspan="8">
                        <div class="table-detail">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2">
                                    <div class="text-center">
                                        <img height="150" class="thumbnail inline no-margin-bottom" alt="Domain Owner's Avatar" src="{% static 'assets/images/avatars/profile-pic.jpg' %}" />
                                        <br />
                                        <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                            <div class="inline position-relative">
                                                <a class="user-title-label" href="#">
                                                    <i class="ace-icon fa fa-circle light-green"></i>
                                                    &nbsp;
                                                    <span class="white">{{ embarazada.name }}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-7">
                                    <div class="space visible-xs"></div>
                                    {% csrf_token %}
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Nombres </div>

                                            <div class="profile-info-value">
                                                <span class="nombres" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.nombre|safe }}</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Apellido </div>

                                            <div class="profile-info-value">
                                                <span class="apellidos" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.apellido|safe }}</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Celular </div>

                                            <div class="profile-info-value">
                                                <span class="celular" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.celular_personal|safe }}</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Empresa Telefonica </div>

                                            <div class="profile-info-value">
                                                <span class="empresa_telefonica" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.empresa_telefonica|safe }}</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Edad </div>

                                            <div class="profile-info-value">
                                                <span class="edad" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.edad|safe }}</span>
                                            </div>
                                        </div>
                                        
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Comunidad </div>

                                            <div class="profile-info-value">
                                                <span class="comunidad" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.comunidad|safe }}</span>
                                            </div>
                                        </div>
                                        
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Escolaridad </div>

                                            <div class="profile-info-value">
                                                <span class="escolaridad" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.escolaridad|safe }}</span>
                                            </div>
                                        </div>
                                        
                                        <div class="profile-info-row div-primaria hide">
                                            <div class="profile-info-name"> Primaria </div>

                                            <div class="profile-info-value">
                                                <span class="primaria" e_id="{{ embarazada.uuid }}">Seleccione una opción</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row div-secundaria hide">
                                            <div class="profile-info-name"> Secundaria </div>

                                            <div class="profile-info-value">
                                                <span class="secundaria" e_id="{{ embarazada.uuid }}">Seleccione una opción</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row div-tecnico hide">
                                            <div class="profile-info-name"> Tecnico </div>

                                            <div class="profile-info-value">
                                                <span class="tecnico" e_id="{{ embarazada.uuid }}">Escriba la carrera</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row div-universidad hide">
                                            <div class="profile-info-name"> Universidad </div>

                                            <div class="profile-info-value">
                                                <span class="celular" e_id="{{ embarazada.uuid }}">Escriba la carrera</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row div-otros-estudios hide">
                                            <div class="profile-info-name"> Otros Estudios </div>

                                            <div class="profile-info-value">
                                                <span class="celular" e_id="{{ embarazada.uuid }}">Describa</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Discapacidad </div>

                                            <div class="profile-info-value">
                                                <span class="discapacidad" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.discapacidad|safe }}</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> N° de Cedula </div>

                                            <div class="profile-info-value">
                                                <span class="cedula" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.cedula|safe }}</span>
                                            </div>
                                        </div>

                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Semana de Embarazo </div>

                                            <div class="profile-info-value">
                                                <span class="semana_embarazo" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.semana_de_embarazo|safe }}</span>
                                            </div>
                                        </div>
                                        
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Número de Embarazos </div>

                                            <div class="profile-info-value">
                                                <span class="numero_de_embarazos" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.numero_de_embarazos|safe }}</span>
                                            </div>
                                        </div>

                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Etnia </div>

                                            <div class="profile-info-value">
                                                <span class="etnia" e_id="{{ embarazada.uuid }}">{{ embarazada.fields.etnia|safe }}</span>
                                            </div>
                                        </div>

                                        
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <h4 class="header blue lighter less-margin">Monitoreos</h4>
                                    <ul>
                                        <li>
                                            <a href="{% url 'monitoreoDuranteEmbarazoView' embarazada.uuid|safe %}">Monitoreo durante el Embarazo</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'monitoreoSalidaComunidadView' embarazada.uuid|safe %}">Monitoreo de salidad a la comunidad</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'monitoreoDurantePartoView' embarazada.uuid|safe %}">Monitoreo durante el parto</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'monitoreoPostpartoMadreView' embarazada.uuid|safe %}">Monitoreo postparto (madre)</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'monitoreoPostpartoHijoView' embarazada.uuid|safe %}">Monitoreo postparto (hijo - durante los primeros 40 dias)</a>
                                        </li>
                                    </ul>
                                    
                                    
                                </div>

                                
                            </div>
                        </div>
                    </td>
        
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-md-12 text-center">
        <ul class="pagination" id="myPager"></ul>
    </div>
{% endblock %}

{% block script %}

<script src="{% static 'js/modificar_embarazada.js' %}"></script>
{% endblock %}